[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Arothron"]
	path = Arothron
	url = https://github.com/cran/Arothron
[submodule "morphomap"]
	path = morphomap
	url = https://github.com/cran/morphomap
